@charset "UTF-8";


body{
    height: 100vh;
    background-image: url('Imagens/espaco.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   
    
}

img {
    display: block;
    margin: auto;
    margin-top: 10%;
    max-width: 450px;
    
}